body {
     margin: 0;
     font-family: Arial, sans-serif;
     background-color: #d6f2fa;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 }

 .wrap {
     flex: 1; /* Pushes the footer to the bottom */
 }

 header {
     width: 100%;
     align-items: center;
     background-color: #34b9de;
     color: white;
     padding:1rem;
     top: 0;
     
 }
 
 .container {
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px;
 }
 .section {

     margin: 10px 0;
     padding: 10px;
 }
 .title {
     text-align: center;
     font-size: 24px;
     font-weight: bold;
     margin-bottom: 20px;
 }
 .main-image img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .main-image {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1; /* Push the image behind content */
     overflow: hidden;
      padding: 0rem;
 }
 
 .main-image-mobile {
     top: 0;
     left: 0;
     padding:0;
 }

 .main-image-mobile img {
     width: 100%;
     height: 100%;
  
 }


 .general-data, .weather-section {
     padding: 20px;
     background-color: #f9f9f9;
 }
 footer {
     background-color: #34b9de;
     color: white;
     padding: 1rem;
     text-align: center;
     margin-top: 6.25rem;
     
     font-size: 0.9rem;
 }

 footer p {
     margin: 0.3rem 0;
 }

 @media (min-width: 769px) {
     .weather-section::after {
         content: "☀️";
         font-size: 24px;
         margin-left: 10px;
     }
 }
 
 /* Mobile Styles */
 @media (max-width: 768px) {
     .desktop-layout {
         display: none;
     }
 }
 
 /* Desktop Styles */
 @media (min-width: 769px) {
     .mobile-layout {
         display: none;
     }
     .desktop-layout {
         display: grid;
         grid-template-columns: 1fr 2fr 1fr;
         grid-template-rows: auto auto auto;
         gap: 10px;
     }
     .desktop-layout .main-image {
         grid-column: 2;
         grid-row: 1 / span 2;
     }
     .desktop-layout {
         grid-column: 1;
         grid-row: 2 / span 2;
     }
     .desktop-layout .weather-section {
         grid-column: 3;
         grid-row: 2 / span 2;
     }
 }
 